:root {
    --primaryColor: #f69396;
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainRed: #f50b0b;
    --bodyColor: #f6f6f6;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    background-color: var(--bodyColor);
  }
  /* navigation styles */
  .navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--primaryColor);
    z-index: 1;
  }
  .navbar-center {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .nav-icon >img{
   width: 30px;
   height: 30px;
  }
  .nav-title{
    color: var(--mainBlack);
    font-weight: 800;
    font-size:large;
  }
  .cart-btn {
    position: relative;
    cursor: pointer;
  }
  
  .cart-items {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--mainWhite);
    border-radius: 50%;
    color: var(--mainRed);
  }
@media screen and (min-width:1024px){
    .navbar-center {
        max-width: 1170px;
    }
     .nav-icon >img{
        width: 36px;
        height: 36px;
       }
       .nav-title{
        font-size:xx-large;
      }
      .cart-items{
        width:20px ;
        height:20px ;
      }
}
  /* navigation styles finished */
    /* products section */
.products_title{
    text-align: center;
    margin: 4rem 0;
    font-size: xx-large;
    color: var(--primaryColor);
  }
  .products_centre{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 5rem;
    align-items: center;
    max-width: 1170px;
    width: 90vw;
    margin: 0 auto;
    /* margin-left: 2rem; */
  }
  .single_product{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 3rem;
  }
  .product_img >img{
    border-radius: 8px 8px 0 0;
    width: 350px;
    height: auto;
    max-height: 350px;
  }
  .product_details >p{
    font-size:x-large;
    font-weight: 800;
    color: var(--mainBlack);
  }
  .product_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }
  .product_btn{
    width: 70%;
    padding: 1rem;
    font-size: large;
    font-weight: 400;
    background-color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    border-radius: 15px;
    cursor: pointer;
  }
  /* end of products section */
  /* cart style section */
.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 5;
  }
  .cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    width: 30rem;
    min-height: 200px;
    border: 1px solid var(--mainGrey);
    border-radius: 5px;
    padding: 1rem;
    top: 25%;
    position: absolute;
    left: 30%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    background-color: var(--mainWhite);
  }
  .cart-title{
    text-align: center;
    font-size: x-large;
  }
  .cart-content{
  display: grid;
  row-gap: 1rem;
  column-gap: 0.5rem;
  }
  .cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .cart-item-img >img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }
  .cart-item-detail{
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
    
  }
  .cart-item-ctrl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
  }
  .cart .cart-item-ctrl >img{
    cursor: pointer;
    width: 15px;
    height:15px;
    background-color: var(--primaryColor);
    border-radius: 15px;
  }
  .cart-item-quantity{
    font-weight: 600;
  }
  .cart-item-remove >img{
    width: 15px;
    height: auto;
    cursor: pointer;
  }
  .cart-footer .btn{
    cursor: pointer;
    padding: 0.7rem;
    font-weight: 600;
    border-radius: 15px;
    border: none;
    background-color: var(--primaryColor);
    color: var(--mainWhite);
  }
  .cart-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin:  1rem;
   margin-top: 2rem;
  }
  @media (max-width: 600px) {
    .cart {
      left: 5% !important;
      max-width: 50rem;
      width: calc(100vw - 2rem);
      padding: 0;
    }
  }
  /* end of cart style section */